<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup - URL Shortener</title>
  </head>
  <body>
    <form action="/user/login" method="post">
      <label for="email"> Email </label>
      <input type="email" name="email" id="email" required />

      <label for="password"> Password </label>
      <input type="password" name="password" id="password" required />

      <button type="submit">Login</button>
    </form>
    <% if (locals.error) { %>
    <p><%= error %></p>
    <% } %>
  </body>
</html>
